# project repository
# (uncomment the following two lines after uploading your project)
darcs /extensions/BagContainer http://openengine.dk/code/extensions/BagContainer/
darcs-dev /extensions/BagContainer fh.daimi.au.dk:/users/cgd/code/extensions/BagContainer/
