# project repository
# (uncomment the following two lines after uploading your project)
git /extensions/BagContainer https://github.com/OpenEngineDK/extensions/BagContainer-.git
git-dev /extensions/BagContainer git@github.com:OpenEngineDK/extensions/BagContainer-.git
